/* Header layout and appearance */
.header {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
}
