@import "tailwindcss";

@theme {
  --color-brand-50: oklch(0.98 0.0157 216.67); /* #EDFBFF */
  --color-brand-100: oklch(0.95 0.035 219.18); /* #D6F5FF */
  --color-brand-200: oklch(0.92 0.0628 215.11); /* #B5F0FF */
  --color-brand-300: oklch(0.88 0.1002 212.38); /* #83EAFF */
  --color-brand-400: oklch(0.83 0.1306 218.59); /* #48DAFF */
  --color-brand-500: oklch(0.76 0.1503 232.56); /* #1EBFFF */
  --color-brand-600: oklch(0.69 0.1736 245.19); /* #06A3FF */
  --color-brand-700: oklch(0.65 0.193 251.78); /* #0090FF */
  --color-brand-800: oklch(0.53 0.1592 252.62); /* #086DC5 */
  --color-brand-900: oklch(0.47 0.1224 248.85); /* #0D5D9B */
  --color-brand-950: oklch(0.33 0.0795 249.37); /* #0E385D */

  --color-button-brand: #086dc5;
  --color-button-brand-disabled: #005280;

  --color-badge-in-progress: #3B1400;
  --color-badge-in-progress-text: #FF8C3B;
  --color-badge-in-progress-border: #662100;
  
  --color-badge-success: #001D3B;
  --color-badge-success-border: #003669;
}


@utility brand-outline {
  outline: 2px solid white;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
