@import "tailwindcss";

@theme {
  --color-brand-50: #10b4ff;
  --color-brand-100: #003669;
  --color-brand-200: #001d3b;

  --color-button-brand: #086dc5;
  --color-button-brand-disabled: #005280;

  --color-badge-in-progress: #3B1400;
  --color-badge-in-progress-text: #FF8C3B;
  --color-badge-in-progress-border: #662100;
  
  --color-badge-success: #001D3B;
  --color-badge-success-border: #003669;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
