:root {
  /* Colors */
  --color-background: #000000;
  --color-text-primary: #ffffff;
  --color-background-transparent: rgba(0, 0, 0, 0);

  /* Brand colors */
  --color-brand-primary: #3b82f6;
  --color-brand-accent: #10b4ff;

  /* Glow effects */
  /* Any glow effects? */

  /* Muted colors */
  --color-text-primary-muted: #9f9fa9;
  --color-brand-primary-muted: #363636;
  --color-brand-accent-muted: #003669;

  /* Spacing */
  --spacing-xs: 0.5em;
  --spacing-sm: 1em;
  --spacing-md: 1.5em;
  --spacing-lg: 2em;
  --spacing-xl: 3em;

  /* Grid */
  --grid-sidebar-ratio: 2fr;
  --grid-content-ratio: 4fr;

  /* Transitions */
  --transition-default: 300ms;
  --transition-filter: filter var(--transition-default);
}
